
<div class='container'>
    <div class="menue">
        
    </div>
    <div class='leftMenue'>
        <h4 class='addSongTitle' >Add Song To Playlist</h4>
        <hr>
        <div class='searchResults'>
        </div>
        
    </div>
    <div class='currentSong'>
          
    </div> 
    <div class=rightMenue>
        <div class='playListInfo'>
            <h4 class='addPlayLists'>Add New Playlist</h4>
            
            <div class='addToPlayList'>
            </div>
        </div>
    </div>
</div>

<div class='audioFiles'>
	<audio src="" class="songPlace">
</div>